<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Search Window-Solution Box</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <script src="//fast.eager.io/ovd43W-riD.js"></script>
    <script> 
        function validateButton() {
            var sText = document.forms["searchForm"]["q"].value;
            if (sText==null || sText=="") {
            alert("Please enter text to Search");
            return false;
            }
        }
    </script>
    <!-- Custom CSS -->
    <link href="css/freelancer.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    </head>
    <body id="page-top" class="index">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#page-top">Solution Box</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>

                        <li class="page-scroll">
                            <a href="/">Home</a>
                        </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<br> <br> <br> <br> <br> <br>

<!-- HTML for SEARCH BAR -->
<div class="container">
    <div class="row">
        <div class="col-lg-12" style = "width:1030px;">
            <div id="sheader" style="padding-left:35px; padding-right:35px; padding-top: 35px; padding-bottom: 35px; border-bottom-right-radius: 20px; border-bottom-left-radius: 20px; border-top-left-radius: 20px; sborder-top-right-radius: 20px; margin-top:50px;border-top-right-radius: 20px">
                <form id="snewsearch" name="searchForm" method="post" action="/viewsearch" onSubmit="return validateButton ()">
                    <input type="text" class="stextinput" name="q" title="Search in Solution Box" placeholder="Enter your query to search..">
                    <input type="submit" value="SEARCH" class="sbutton">
                </form>
                <div class="sclear"></div>
            </div>
        </div>
    </div>
</div> <br> <br> <br> <br><br> <br><br> 

 <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Location</h3>
                        <p>San Jose State University<br>One Washington Square, San Jose CA 95112</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Follow Us On</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="https://www.facebook.com/" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="https://plus.google.com/" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="https://www.twitter.com/" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                            <!--<li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a>
                            </li>-->
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Authors</h3>
                        <p>Vrushank Doshi, Jenil Doshi, Vijesh Jain, Anup Dudani</a>.</p>
                    </div>
                </div>
            </div>
        </div> 
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; SB 2014
                    </div>
                </div>
            </div>
        </div>
    </footer>


</body>
</html>

